<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
<body>
  {{ if .IsHome }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="hero-section overlay bg-cover banner" style="color: #0f0f0f; padding-bottom: 0px" data-background="{{ .Site.Params.banner.image | absURL }}">
    <div class="container no-margin-ban">
      {{ "<!-- navigation -->" | safeHTML }}
      {{ partial "navigation.html" . }}
      {{ "<!-- /navigation -->" | safeHTML }}
      {{ partial "banner.html" . }}
    </div>
  </header>
  {{ "<!-- /header -->" | safeHTML }}
  {{ else }}
  {{ "<!-- navigation -->" | safeHTML }}
  <header class="shadow-bottom sticky-top bg-white">
    <div class="container">
      {{ partial "navigation.html" . }}
    </div>
  </header>
  {{ "<!-- /navigation -->" | safeHTML }}
  {{ end }}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>