{{ define "main" }}

  {{ "<!-- topics -->" | safeHTML }}
  <section class="section bg-gray" style="padding-top: 50px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
<!--          {{with .Site.Params.topics.overview}} <h2 class="section-title">{{ . }}</h2> {{ end }}-->
          <p style="font-size: 120%">Our documentation navigates you comprehensively through the procedures on working with the product, from its installation to device management for all types of devices.<br>
            Click on any of the following sections relevant to your area of interest to get started:</p>
          <br>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <h3><a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/about-entgra-IoT-server/">About Entgra IoT Server</a></h3>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/about-entgra-IoT-server/architecture/">Architecture</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/about-entgra-IoT-server/about-this-release/">About This Release</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/about-entgra-IoT-server/feature-list/">Feature List</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/about-entgra-IoT-server/release-archive/">Release Archive</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <h3><a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/">Product Guide</a></h3>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/system-requirements/">System Requirements</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/download-and-start-the-server/">Download and Start the Server</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/login-guide/">Log-In Guide</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/enrollment-guide/">Enrollment Guide</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/device-management-guide/">Device Management Guide</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/manage-tenants/">Manage Tenants</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/manage-roles/">Manage Roles</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/manage-users/">Manage Users</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/app-management/">App Management</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <h3><a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/">Key Concepts</a></h3>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/devices/">Devices</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/mobile-applications/">Mobile Applications</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/operations-and-policies/">Operations and Policies</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/user-management/">User Management</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/api/">APIs</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/extensions/">Extensions</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/security/">Security</a>
            <br>
            <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/key-concepts/databases/">Databases</a>
            <br>
            <br>
          </div>
          <br>
          <br>
        </div>
        <div class="col-12 text-center">
          {{with .Site.Params.topics.title}} <h2 class="section-title">{{ . }}</h2> {{ end }}
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/enrollment-guide/enroll-android/" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="ti-android icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">Android</h3>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/enrollment-guide/enroll-ios/" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="ti-apple icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">iOS</h3>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="https://entgra-documentation.gitlab.io/v4.0.0/docs/product-guide/enrollment-guide/enroll-windows/" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="ti-microsoft-alt icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">Windows</h3>
          </a>
          <br>
          <br>
          <br>
        </div>
        <div class="row justify-content-center">
          <iframe style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align: center;" width="700" height="360" src="https://www.youtube.com/embed/EeR3kmlKH1k?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <br>
        <br>
        </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}
  {{ if .Site.Params.cta.enable }}

{{ end }}
{{ end }}